:root {
  --foreground-color: black;
  --background-color: white;
  --link-color: blue;

  --rate-none-color: #dbdbdb;
  --rate-1-color: #ef9a9a;
  --rate-2-color: #ffcc80;
  --rate-3-color: #fff59d;
  --rate-4-color: #a5d6a7;
  --rate-5-color: #b39ddb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: white;
    --background-color: black;
    --link-color: lightblue;

    --rate-none-color: #252525;
    --rate-1-color: #2f1415;
    --rate-2-color: #2f2014;
    --rate-3-color: #2f2d14;
    --rate-4-color: #252f14;
    --rate-5-color: #1e142f;
  }
}

[hidden] {
  display: none !important;
}

* {
  color: var(--foreground-color);
  background: var(--background-color);
}

:focus-visible {
  outline: 2px solid var(--foreground-color);
  position: relative;
  z-index: 1;
}

::placeholder {
  font-style: italic;
  opacity: 0.7;
}
